* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    
}

:root{
    --rang:rgb(255, 0, 234);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.box{
    max-width: 300px;
    color: whitesmoke;
    padding-inline: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
     background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, var(--rang), black) border-box;
    border: 5px solid rgba(232, 226, 226, 0);
    animation: borderAnimate 2s infinite forwards ;
    animation-timing-function: linear;
    animation-play-state: paused;
    box-shadow:0 0 0px var(--rang);
    transition: all ease-in 0.3s;
    text-shadow: 0 0 0;

}
.box:hover{
    animation-play-state: running;
    box-shadow:0 0 60px var(--rang);
    border: 5px solid rgba(255, 255, 255, 0);
    text-shadow: 0 0 5px var(--rang);

}

.box img {
    width: 100%;
}
